<ngb-carousel *ngIf="images" style="padding-top: 3.5em;">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="width: 90%; margin-left: 5%" src="https://cdn.discordapp.com/attachments/567330748743286784/612950320578035726/liorsauvage.png" alt="pokelior">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img style="width: 50%; margin-left: 25%" src="http://www.p-pokemon.com/divers/trucage8.jpg" alt="pokelior">
      </div>
    </ng-template>
  </ngb-carousel>
  